
/*@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700;800&family=Roboto:wght@400;700&display=swap');*/

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Bold.woff2') format('woff2'),
        url('../fonts/Raleway-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Medium.woff2') format('woff2'),
        url('../fonts/Raleway-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-ExtraBold.woff2') format('woff2'),
        url('../fonts/Raleway-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-SemiBold.woff2') format('woff2'),
        url('../fonts/Raleway-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
        url('../fonts/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Bold.woff2') format('woff2'),
        url('../fonts/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font: 400 16px/1.5 arial, tahoma, verdana, sans-serif;
}
a {
    text-decoration: none;
}
ul {
  list-style: none; 
 
}
img {
max-width: 100%;
}

.wrapper {
overflow: hidden;
}
  
.header {
background-image: url(../image/Image.png);
background-size: cover;
max-width: 1440px;
height: 975px;
}


.container {
max-width: 1440px; 
background-color: black;
padding: 50px;
position: relative;
}

.logo {
    display: block;
}
.menu-main {
    display: flex;
    justify-content: space-between;
    

}
.menu-main a {
    display: inline-block;
    width: 50%;
    position: relative;
    font-size: 16px;
    color: #3a98cb;
}

.sport {
    display: flex;
    justify-content: center;
}
.text {
display: flex;
align-items: center;
}
.h5 {
    display: inline-block;
    font-size: 22px;
}

.bottom {
    display: flex;
    order: -10px;
    flex-wrap: wrap;
    justify-content: center;
   

} 
    